<footer class="footer-bg ">





    <div class="container py-5">
        <div class="row">


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 about-div">
                <div class=" img-div d-flex justify-content-center align-items-center">
                    <img src="assets/WK2.png" alt="">
                </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 about-div">
                <h5>معلومات عنا </h5>
                <div class="outline-div">
                    <div class="line-div"></div>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi eveniet necessitatibus optio modi rem
                    iste temporibus.</p>
                <div class="icons-div">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-pinterest-p"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>








            <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 list-div">
                <h5 class="px-4">Useful Link </h5>
                <div class="outline-div mx-4">
                    <div class="line-div"></div>
                </div>

                <ul class="fa-ul">
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Equipment Install</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Pressure Wash</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Services Specialty</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Pool Maintenance</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Drain & Clean </li>
                  </ul>
            </div> -->





            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 list-div">
                <h5 class="px-4">الدعم </h5>
                <div class="outline-div mx-4">
                    <div class="line-div"></div>
                </div>

                <ul class="fa-ul">
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Privacy Policy</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Support</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Disclaimer</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> FAQ</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Terms & Conditions </li>
                  </ul>
            </div>







            


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 about-div">
                <h5>تواصل معنا </h5>
                <div class="outline-div">
                    <div class="line-div"></div>
                </div>

                <p>Call Us Now + 000 2456 1456 <br> Info&#64;Example.Com <br> MaineLab Head Office, <br> ABC 125666, UK</p>
            </div>



























        </div>
    </div>


    <div class="copy-div">

    <div class="container m-auto text-center ">

        <p>Copyright <i class="fa-regular fa-copyright"></i> 2025. all rights reserved </p>

    </div>
</div>


</footer>