<footer class="footer-bg ">





    <div class="container py-5">
        <div class="row">


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 about-div">
                <div class=" img-div d-flex justify-content-center align-items-center">
                    <img src="assets/WK2.png" alt="">
                </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 about-div">
                <h5>معلومات عنا </h5>
                <div class="outline-div">
                    <div class="line-div"></div>
                </div>

                <p>
                    نقدم لكم في نادينا تجربة استثنائية في عالم رياضة البادل، حيث الجودة والاحترافية والاهتمام بالتفاصيل هي أساس كل ما نقدمه. نسعى لنكون وجهتكم الأولى لممارسة هذه الرياضة المميزة في أجواء عصرية ومريحة.
                </p>
                <div class="icons-div">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-pinterest-p"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
            </div>








            <!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 list-div">
                <h5 class="px-4">Useful Link </h5>
                <div class="outline-div mx-4">
                    <div class="line-div"></div>
                </div>

                <ul class="fa-ul">
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Equipment Install</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Pressure Wash</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Services Specialty</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Pool Maintenance</li>
                    <li><span><i class="fa-solid fa-chevron-left"></i></span> Drain & Clean </li>
                  </ul>
            </div> -->





            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 list-div">
                <h5 class="px-4">الدعم </h5>
                <div class="outline-div mx-4">
                    <div class="line-div"></div>
                </div>

                <ul class="fa-ul">
                    <a routerLink="privacyPolicy"><li><span><i class="fa-solid fa-chevron-left"></i></span> سياسة الخصوصية</li></a>
                    <a routerLink="privacyPolicy"><li><span><i class="fa-solid fa-chevron-left"></i></span> شروط الاستخدام</li></a>
                    <a href="#"><li><span><i class="fa-solid fa-chevron-left"></i></span> الدعم</li></a>
                    <a href="#"><li><span><i class="fa-solid fa-chevron-left"></i></span> ما رأيك</li></a>
                    <!-- <li><span><i class="fa-solid fa-chevron-left"></i></span> Terms & Conditions </li> -->
                  </ul>
            </div>







            


            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 about-div">
                <h5>تواصل معنا </h5>
                <div class="outline-div">
                    <div class="line-div"></div>
                </div>

                <p>تواصل معنا الان  009660531234567 <br> Info&#64;Example.Com <br> عنوان المكتب الرئيسي للادارة, <br> 1 شارع شبرا و الطائف </p>
            </div>



























        </div>
    </div>


    <div class="copy-div">

    <div class="container m-auto text-center ">

        <p>Copyright <i class="fa-regular fa-copyright"></i> 2025. all rights reserved </p>

    </div>
</div>


</footer>