<section id="our-courses" class="firstSection ">


    <div class="container ourNavP">


        <div class="row align-items-stretch">

            <div class="col-12 pb-5">
                <div class="container m-auto text-center team-div ">
                    <h2>المتجر </h2>
                    <p>جميع المنتجات الخاصة بالبادل</p>

                </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-6 offers-card  col-m">

                <div class="border p-2 h-100 text-center d-flex flex-column filterDiv filterDivLight">
                  
                    <h5><i class="fa-solid fa-table-tennis-paddle-ball"></i> مضارب </h5>
                    
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-6 offers-card  col-m">

                <div class="border p-2 h-100 text-center d-flex flex-column filterDiv">
                  
                    <h5><i class="fa-solid fa-baseball"></i> كرات </h5>
                    
                </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-6 offers-card  col-m">

                <div class="border p-2 h-100 text-center d-flex flex-column filterDiv">
                  
                    <h5><i class="fa-solid fa-hand"></i> اكسسوارات </h5>
                    
                </div>
            </div>


            <div class="col-xl-3 col-lg-3 col-6 offers-card  col-m">

                <div class="border p-2 h-100 text-center d-flex flex-column filterDiv">
                  
                    <h5><i class="fa-solid fa-vest"></i> ملابس </h5>
                    
                </div>
            </div>

            




            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/rock-2.jpg" alt="training offers">
                        <p><span class="colored-price">150</span> ريال</p>
                    </div>
                    <h5>مضرب بادل</h5>
                    <p class="p-card">مضرب بادل مصنوع من افضل الخامات مقاس كبير جدا صالح لجميع الاعمار</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-6 icon-border p-0">
                            <!-- <ul class="fa-ul">
                                <li>إضافة  <span class="fa-li"><i class="fa-solid fa-user-group"></i></span></li>
                            </ul> -->
                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                        <div class="col-6">
                            <!-- <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>عرض</li>
                            </ul> -->
                            <button class="w-100 btn store-btn" (click)="openAlert()" >  <i class="fa-solid fa-eye"></i>عرض</button>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/rock-1.jpg" alt="training offers">
                        <p><span class="colored-price">150</span> ريال</p>
                    </div>
                    <h5>مضرب بادل</h5>
                    <p class="p-card">مضرب بادل مصنوع من افضل الخامات مقاس كبير جدا صالح لجميع الاعمار</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-6 icon-border p-0">
                            <!-- <ul class="fa-ul">
                                <li>إضافة  <span class="fa-li"><i class="fa-solid fa-user-group"></i></span></li>
                            </ul> -->
                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                        <div class="col-6">
                            <!-- <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>عرض</li>
                            </ul> -->
                            <button class="w-100 btn store-btn" (click)="openAlert()" >  <i class="fa-solid fa-eye"></i>عرض</button>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/rock-3.jpg" alt="training offers">
                        <p><span class="colored-price">150</span> ريال</p>
                    </div>
                    <h5>مضرب بادل</h5>
                    <p class="p-card">مضرب بادل مصنوع من افضل الخامات مقاس كبير جدا صالح لجميع الاعمار</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-6 icon-border p-0">
                            <!-- <ul class="fa-ul">
                                <li>إضافة  <span class="fa-li"><i class="fa-solid fa-user-group"></i></span></li>
                            </ul> -->
                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                        <div class="col-6">
                            <!-- <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>عرض</li>
                            </ul> -->
                            <button class="w-100 btn store-btn" (click)="openAlert()" >  <i class="fa-solid fa-eye"></i>عرض</button>
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/LOGO3.png" alt="training offers">
                        <p><span class="colored-price">150</span> ريال</p>
                    </div>
                    <h5>مضرب بادل</h5>
                    <p class="p-card">مضرب بادل مصنوع من افضل الخامات مقاس كبير جدا صالح لجميع الاعمار</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-6 icon-border p-0">
                            <!-- <ul class="fa-ul">
                                <li>إضافة  <span class="fa-li"><i class="fa-solid fa-user-group"></i></span></li>
                            </ul> -->
                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                        <div class="col-6">
                            <!-- <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>عرض</li>
                            </ul> -->
                            <button class="w-100 btn store-btn" (click)="openAlert()" >  <i class="fa-solid fa-eye"></i>عرض</button>
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/LOGO2.png" alt="training offers">
                        <p><span class="colored-price">150</span> ريال</p>
                    </div>
                    <h5>مضرب بادل</h5>
                    <p class="p-card">مضرب بادل مصنوع من افضل الخامات مقاس كبير جدا صالح لجميع الاعمار</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-6 icon-border p-0">
                            <!-- <ul class="fa-ul">
                                <li>إضافة  <span class="fa-li"><i class="fa-solid fa-user-group"></i></span></li>
                            </ul> -->
                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                        <div class="col-6">
                            <!-- <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>عرض</li>
                            </ul> -->
                            <button class="w-100 btn store-btn" (click)="openAlert()" >  <i class="fa-solid fa-eye"></i>عرض</button>
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/LOGO3.png" alt="training offers">
                        <p><span class="colored-price">150</span> ريال</p>
                    </div>
                    <h5>مضرب بادل</h5>
                    <p class="p-card">مضرب بادل مصنوع من افضل الخامات مقاس كبير جدا صالح لجميع الاعمار</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-6 icon-border p-0">
                            <!-- <ul class="fa-ul">
                                <li>إضافة  <span class="fa-li"><i class="fa-solid fa-user-group"></i></span></li>
                            </ul> -->
                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                        <div class="col-6">
                            <!-- <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>عرض</li>
                            </ul> -->
                            <button class="w-100 btn store-btn" (click)="openAlert()" >  <i class="fa-solid fa-eye"></i>عرض</button>
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/thumb_443.jpg" alt="training offers">
                        <p><span class="colored-price">150</span> ريال</p>
                    </div>
                    <h5>مضرب بادل</h5>
                    <p class="p-card">مضرب بادل مصنوع من افضل الخامات مقاس كبير جدا صالح لجميع الاعمار</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-6 icon-border p-0">
                            <!-- <ul class="fa-ul">
                                <li>إضافة  <span class="fa-li"><i class="fa-solid fa-user-group"></i></span></li>
                            </ul> -->
                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                        <div class="col-6">
                            <!-- <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-book"></i></span>عرض</li>
                            </ul> -->
                            <button class="w-100 btn store-btn" (click)="openAlert()" >  <i class="fa-solid fa-eye"></i>عرض</button>
                        </div>
                    </div>
                </div>
            </div>






       






        </div>

    </div>


</section>




<div id="fixedBox" #fixedBox>
    <div class="position-relative" id="smallBox" #smallBox>



        <i class="fa-solid fa-xmark" id="closeBtn" (click)="closeAlert()"></i>


        <div class="overflow-all">


            <div class="row " style="height: 100%;">

                <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-center">
                    <div id="container" >
        
        
                        <input hidden type="radio" name="carousel-control" id="button_a" checked/>
                        <input hidden type="radio" name="carousel-control" id="button_b"/>
                        <input hidden type="radio" name="carousel-control" id="button_c"/>
                        <input hidden type="radio" name="carousel-control" id="button_d"/>        
                        <input hidden type="radio" name="carousel-control" id="button_e"/>            
                        <input hidden type="radio" name="carousel-control" id="button_f"/>            
                
                                <div class="navigation-ov d-flex align-items-center justify-content-center">
                                    <div id="navigation " >
                                        <label for="button_a" class="label_a allLables"> <span><img src="assets/rock-1.jpg" alt=""></span> </label>
                                        <label for="button_b" class="label_b allLables"> <span><img src="assets/rock-2.jpg" alt=""></span> </label>
                                        <label for="button_c" class="label_c allLables"> <span><img src="assets/rock-3.jpg" alt=""></span> </label>
                                        <label for="button_d" class="label_d allLables"> <span><img src="assets/rock-4.jpg" alt=""></span> </label>
                                        <!-- <label for="button_e" class="label_e allLables"> <span><img src="assets/book-5.jpg" alt=""></span> </label>
                                        <label for="button_f" class="label_f allLables"> <span><img src="assets/book-6.png" alt=""></span> </label> -->
                
                        
                                    </div> <!-- // #navigation -->    
                                </div>
             
            
                        <div id="carousel">
                            <div class="p-wrapper">
                                        
                                <section class="panel_a overflow-hidden">
                                  <img src="assets/rock-1.jpg" alt="">
                                </section>
                                        
                                <section class="panel_b overflow-hidden">
                                    <img src="assets/rock-2.jpg" alt="">
            
                                </section>
                                        
                                <section class="panel_c overflow-hidden">
                                    <img src="assets/rock-3.jpg" alt="">
              
                                </section>
                                        
                                <section class="panel_d overflow-hidden">
                                    <img src="assets/rock-4.jpg" alt="">
            
                                </section>
            
            
                                <!-- <section class="panel_e overflow-hidden">
                                    <img src="assets/book-5.jpg" alt="">
            
                                </section>
            
            
                                <section class="panel_f overflow-hidden">
                                    <img src="assets/book-6.png" alt="">
            
                                </section> -->
                                        
                            </div> <!-- // .p-wrapper -->
                        </div> <!-- // #carousel -->            
                                
                        
                         
                                
                        
                    </div> 
                </div>
    
    
    
    
                <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-center" >
    
                    <div class="bgContent">
                        <div class="buyContent">
                            <h1>
                                مضرب بادل
                            </h1>
                            <p>
                                مضرب بادل مصنوع من افضل الخامات مقاس كبير جدا صالح لجميع الاعمار
                            </p>
                           
    
                        </div>
    
                        <div class="buyDetails row">
                            <div class="smallDivDetails col-4">
                                <p>اللون</p>
                                <h6>احمر</h6>
                            </div>
                            <div class="smallDivDetails col-4">
                                <p>المقاس</p>
                                <h6>10x</h6>
                            </div>
                            <div class="smallDivDetails col-4">
                                <p>السعر</p>
                                <h6>150 ريال</h6>
                            </div>
                            <div class="smallDivDetails col-4">
                                <p>الكمية</p>
                               <input style="margin: 0;" type="number" class="form-control chooseLanguage" value="1" >
                            </div>
                           
                        </div>
    
    
    
                        <div class="selectDiv ">
                            <button type="button" class="btn btn-info" routerLink="/bookInfo">اضافة الى السلة </button>
    
                        </div>
        
                    </div>
                    
                </div>
    
            </div>

        </div>











    </div>
</div>







<div id="fixedBox" #fixedBox2>
    <div class="position-relative" id="smallBox" #smallBox>



        <i class="fa-solid fa-xmark" id="closeBtn" (click)="closeAlert2()"></i>


        <div class="overflow-all">


            <div class="row " style="height: 100%;">

                <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-center" >
    
                    <div class="bgContent">
                     
                        <div class="w-100 text-center py-2">
                            <h2>المنتج والسعر</h2>
                        </div>


                        <div class="row pt-2 bg-cartInfo">
                            
                            <div class="col-6 ">
                                <div class="cartCoffe">
                                    <h6>مضرب (150 ريال) </h6>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="cartNum">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <h6>2</h6>
                                    <i class="fa-solid fa-circle-minus"></i>
                                </div>
                            </div>


                        </div>
                        
        





                        <div class="row pt-2 bg-cartInfo">
                            
                            <div class="col-6 ">
                                <div class="cartCoffe">
                                    <h6>كرة (47 ريال) </h6>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="cartNum">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <h6>1</h6>
                                    <i class="fa-solid fa-circle-minus"></i>
                                </div>
                            </div>


                        </div>
                        
        






                       
                        
        













                    </div>
                    
                </div>
    
    
    
    
                <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-center" >
    
                    <div class="bgContent">
                        <div class="buyContent">
                            <h1>
                                الاجمالي
                            </h1>
                            <p>
                                347 ريال
                            </p>
                           
    
                        </div>
    
    

                        <!-- <div class="d-flex justify-content-center align-items-center mt-2">
                            <select name="select" class="form-select selectTable">
                                <option value=""> رقم الطاولة</option>
                                <option value="1">طاولة رقم 1</option>
                                <option value="1">طاولة رقم 2</option>
                                <option value="1">طاولة رقم 3</option>
                                <option value="1">طاولة رقم 4</option>
                                <option value="1">طاولة رقم 5</option>
                                <option value="1">طاولة رقم 6</option>
                                <option value="1">طاولة رقم 7</option>
    
                            </select>    
                        </div> -->


                        <div class="selectDiv ">
                            <button type="button" class="btn btn-info" routerLink="/bookInfo">دفع </button>
    
                        </div>
        
                    </div>
                    
                </div>
    
            </div>

        </div>











    </div>
</div>




<div class="mainCartDiv" (click)="openAlert2()">



    <div class="car-icon d-flex justify-content-center align-items-center">
        <div class="carShooping">
            <i class="fa-solid fa-cart-shopping"></i>
            <div class="car-num">
                2
            </div>
        </div>
    </div>
</div>