.navbar.navbar-top {
    background-color: #000f33 !important;
    backdrop-filter: blur(0px);
    box-shadow: none !important;
  }

/* النافبار بعد السكرول (أبيض) */
.navbar.navbar-scrolled {
    background-color: #000f33 !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08) !important;
  }
  
  /* تنسيق الروابط في حالة الشفافية */
  .navbar-top .nav-link {
    color: white ;
    font-weight: 700;
    position: relative;
    transition: all 0.3s ease;
  }
  /* تنسيق الروابط في حالة الخلفية البيضاء */
.navbar-scrolled .nav-link {
    color: white ;
    font-weight: 700;
    position: relative;
    transition: all 0.3s ease;
  }

  .fa-bars{
    border: white !important;
    color: white !important;

  }


  .navbar-toggler {
    color: white;
    border: 2px solid white;
}











nav{
    background-color: #000f33;
        --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
        --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}
.navbar-toggler i {
    color: white;
}

/* header {
    height: 100vh;
    overflow: hidden;
} */

nav {
    z-index: 999999;

}
.nav-link{
    cursor: pointer;
    font-family: 'Tajawal-Medium', sans-serif;

}

.nav-color {
    /* background-color: tomato; */
    font-size: 13px;
    padding: 20px 20px 5px 0;
    font-family: 'Tajawal-Medium', sans-serif;
}

.navbar a {
    color: black;
    transition: all 0.5s;
}

.nav-item {
    padding: 8px;
    font-family: 'Tajawal-Medium', sans-serif;
}

.navbar-brand {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Tajawal-Medium', sans-serif;

}

.nav-color img {
    margin-left: 100px;
    width: 100px;
}

.nav-link:hover {
    color: #004dff !important;
}

.social {
    margin-left: 10px;
    padding: 10px;
    /* border-left: 1px solid black; */
}


.social a {
   
    padding: 10px 10px;
   
}

.changeLang a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}
.ourNavP{
    padding: 10px 120px;
}

@media all and (max-width : 771px){

    .ourNavP{
        padding: 10px 10px;
    }
}

.activeLink{
    color: #004dff !important;
}

.countryName{
    font-size: 19px;
    font-family: "Tajawal-Bold", sans-serif;
    padding: 0 5px ;
    margin: 0;
}
.fa-globe{
    color: #004dff;
    font-size: 18px;
    padding: 0 10px;
    margin: 0;
}
.countryBorder{
    position: relative;
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    height: 33px;
    width: 90px;
    padding: 2px 10px 0 10px !important;
}
.flagPosition{
    position: absolute;
    width: 26px !important;
    right: 45px;
    top: 4px;
    border-radius: 5px;
}


@media all and (max-width : 991px){

    .social {
        margin-left: 50px;
        margin-right: 30px;
        padding: 10px;
        border-left: none;
    }
    .changeLang a{
        margin-right: 40px;
    }
}