
.ourNavP{
    padding: 10px 120px;
}
.firstSection{
    padding-top: 145px;
}

.firstSectionDiv{
    width: 80%;
    background-color: rgba(0, 15, 51, 0.9);
    border: 2px solid #000f33;
    padding: 40px 15px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 100px;
    transition: all 0.5s;
}

.firstSectionDiv h1{
    color: white;
    padding: 10px;
    font-weight: 700;
}

.firstSectionDiv:hover{
    background-color: #000f33;
    border-radius: 35px;

}
.secondSection h2{
    text-align: center;
    padding: 10px 0 20px 0;
} 






@media all and (max-width : 771px){

    .ourNavP{
        padding: 10px 30px;
    }

}
@media all and (max-width: 577px){

    
    .firstSectionDiv{
        width: 90%;
    }
}


.borderDiv{
   
    padding: 10px;


}
.stadiumDiv{
    width: 100%;
    border: 2px solid #000f33;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    /* transition: all 0.5s; */

}
/* .stadiumDiv:hover{
    background-color: #000f33;
    border-radius: 35px;

} */
.stadiumName{
    background-color: #000f33;
    color: white;
    font-weight: 700;
    padding: 15px 0 10px 0;

}
.stadiumAbout{
    background-color: white;
    padding: 15px 0 10px 0;
    border-bottom: 2px solid #000f33 ;
}
.stadiumAbout h2{
    font-size: 18px;
    color: #000f33;
    font-weight: 700;
    padding: 10px 0 10px 0;
}
.stadiumTime{
    padding: 10px;
}
.smallTimer{
    background-color: white;
    border-radius: 5px;
    color: #000f33;
    border: 2px solid #000f33 ;
    margin: 5px 0;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

.smallTimer h2{
    font-weight: 700;
    font-size: 18px;
    padding: 10px 0 4px 0;
}
.smallTimer:hover{
    background-color: #000f33;
    color: white;

}