.firstSection{
    padding-top: 88px;
}
.ourNavP{
    padding: 10px 120px;
}
li{
    font-size: 1.25rem;
}
p{
    font-size: 1.25rem;
}
h2{
    font-size: 1.75rem;
}
h1{
    font-size: 2.25rem;
}
@media all and (max-width : 771px){

    .ourNavP{
        padding: 10px 30px;
    }

}