/* تنسيق عام */

.firstSection{
    padding-top: 124px;
}
/* dashboard.component.css */
.dashboard-container {
    min-height: 100vh;
    background-color: #f8f9fa;
  }
 .navBg{
    background-color: #000f33 !important;
 } 
 .text-primary{
    color: #000f33 !important;
 }
  .sidebar {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    min-height: calc(100vh - 56px);
    padding-top: 20px;
  }
  
  .nav-link {
    color: #495057;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .nav-link:hover {
    background-color: #e9ecef;
    color: #000f33;
  }
  
  .nav-link.active {
    background-color: #000f33;
    color: white;
  }
  
  .card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border: none;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }



   /* تصميم الزرارين فقط - أنسخ من هنا */
   .upload-group {
    text-align: center;
    margin: 0px;
}

.upload-btn {
    width: 100%;
    display: inline-block;
    padding: 15px 0px;
    border: 1px solid #ec6e1e;
    border-radius: 4px;
    background: transparent;
    color: #ec6e1e;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
}

.upload-btn:hover {
    background-color: #ec6e1e;
    color: white;
}

.file-name {
    font-size: 12px;
    color: #666;
    margin-top: 4px;
    text-align: center;
    min-height: 18px;
}
.btn-info{
  padding: 11px 0;
}
.form-check-input:checked {
  background-color: #ec6e1e !important;
  border-color: #ec6e1e !important;
}

.form-check .form-check-input {
  float: right;
  margin-left: -1.5em;
}
.ourLable{
  margin: 3px 32px 0 0;
  padding: 0;
  font-weight: 700;
}
.allLables{
  font-weight: 700;
  padding: 5px;
}
.ourCursor{
  cursor: pointer;
}
.accordion-item {
  border: none;
}