
<section class="overflow-hidden position-relative">



    <div class="container1">
        <img class='photo'  src="assets/padelBg-1.jpeg" alt="" />
        <img class='photo'  src="assets/padelBg-2.jpeg" alt="" />
        <img class='photo'  src="assets/padelBg-3.jpeg" alt="" />
        <img class='photo'  src="assets/padelBg-4.jpeg" alt="" />
        <img class='photo'  src="assets/padelBg-5.jpeg" alt="" />
        <img class='photo'  src="assets/padelBg-6.jpeg" alt="" />
  </div>
  <div class="ourDarkBg d-flex justify-content-center align-items-end ">

    <div class="firstSectionDiv">
        <h1>احجز ملعب</h1>

        <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-4 mb-2">
                <select name="select" class="form-select " >
                    <option value="" > الموقع</option>
                    <option value="1">الرياض</option>
                    <option value="0">جده</option>
    
                </select>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mb-2">

                <input type="date" class="form-control" placeholder="التاريخ">
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4">

                <button type="button" class="btn btn-info w-100">بحث</button>

            </div>




        </div>

    </div>

  </div>


</section>


<section>

    <div class="container second-section">
        <div class="row">





            <div class="col-xl-6 col-lg-6 col-md-12 second-section-second ">
                <div class="img-group ">
                    <div class="child-1"><img src="../../assets/padel.jpg" alt=""></div>
                    <div class="child-2"><img src="../../assets/LOGO3.png" alt=""></div>
                    <div class="child-3"><img src="../../assets/high-angle-palettes-balls.jpg" alt=""></div>
                    <div class="line-div-img"></div>
                </div>
            </div>













            <div class="col-xl-6 col-lg-6 col-md-12 second-section-first">
                <div class="w-75">
                    <h6 class="styled-h-second-section">معلومات عنا</h6>
                    <h3>استمتع بتعلم لعبة البادل معنا</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, distinctio veritatis? In
                        totam debitis reprehenderit.</p>


                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-bullseye"></i>

                        </div>
                        <div class=" p-0">
                            <h6>مهمتنا</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>
                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-clock-rotate-left"></i>

                        </div>
                        <div class=" p-0">
                            <h6>تاريخ حافل بالنجاحات</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>






                </div>
            </div>











        </div>
    </div>

</section>





<section>

    <div class="third-section">


        <div class="row">




            <div class="col-xl-3 col-lg-3 col-md-6 sec-dark-bg ">
                <div class="container m-auto">
                    <i class="fa-solid fa-table-tennis-paddle-ball"></i>
                    <h6>مضارب </h6>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p class="small-colore">معرفة المزيد</p>

                </div>
            </div>




            <div class="col-xl-3 col-lg-3 col-md-6 sec-dark-bg">
                <div class="container m-auto">
                    <i class="fa-solid fa-baseball"></i>
                    <h6>كرات </h6>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p class="small-colore">معرفة المزيد</p>

                </div>
            </div>




            <div class="col-xl-3 col-lg-3 col-md-6 sec-dark-bg">
                <div class="container m-auto">
                    <i class="fa-regular fa-hand"></i>
                    <h6>اكسسوارات </h6>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p class="small-colore">معرفة المزيد</p>

                </div>
            </div>




            <div class="col-xl-3 col-lg-3 col-md-6 sec-dark-bg">
                <div class="container m-auto">
                    <i class="fa-solid fa-vest"></i>
                    <h6>ملابس </h6>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <p class="small-colore">معرفة المزيد</p>

                </div>
            </div>

        </div>
    </div>

</section>






<section>


    <div class="container second-section">
        <div class="row">



            <div class="col-xl-6 col-lg-6 col-md-12 second-section-first">
                <div class="w-75">
                    <h6 class="styled-h-second-section">مميزات النادي</h6>
                    <h3>تعرف على مميزات النادي</h3>
                    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, distinctio veritatis? In
                        totam debitis reprehenderit.</p> -->


                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-mug-hot"></i>

                        </div>
                        <div class=" p-0">
                            <h6>كافيه</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>
                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-table-tennis-paddle-ball"></i>

                        </div>
                        <div class=" p-0">
                            <h6>ملاعب مكيفه </h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>
                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-wind"></i>

                        </div>
                        <div class=" p-0">
                            <h6>استراحة مكيفه</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>


                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-user-check"></i>

                        </div>
                        <div class=" p-0">
                            <h6>مدربين محترفين</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>


                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-vest"></i>

                        </div>
                        <div class=" p-0">
                            <h6>غرف ملابس</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>



                    <div class=" email-div ">
                        <div>
                            <i class="fa-solid fa-square-parking"></i>

                        </div>
                        <div class=" p-0">
                            <h6>باركينج</h6>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus eos tempore
                                voluptates.</p>
                        </div>
                    </div>






                </div>
            </div>




            <div class="col-xl-6 col-lg-6 col-md-12 ">
                <div class="container m-auto child-img ">
                    <img src="assets/Newsletter-1536x1461.png" alt="Newsletter">
                </div>
            </div>







        </div>
    </div>

</section>






<section class="overflow-hidden pt-5 ">


    <div class="ourNavP thirdSection">


        <h2>
            الأسئلة الشائعة
        </h2>


        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        هل تقومون بالشحن إلى موقعي؟
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        نعم! نوفر خدمة الشحن لجميع أنحاء العالم، لذا أينما كنت، سنضمن وصول طلبك إليك. ما عليك سوى إدخال
                        بيانات الشحن عند الدفع، وسنتولى الباقي.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        كم من الوقت يستغرق الشحن؟
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        تعتمد مدة الشحن على موقعك. عادةً ما يستغرق الشحن القياسي من ١٠ إلى
                        ١٧ يوم عمل، بينما يصل الشحن السريع خلال ٧ إلى ١٠ أيام عمل.
                    </div>
                    <div class="accordion-body">
                        يرجى الأخذ في الاعتبار أن أوقات التسليم تشمل أيام العمل فقط، لذا فإن العطلات الرسمية أو عطلات
                        نهاية الأسبوع قد تتسبب في حدوث تأخيرات طفيفة. </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        كيف أقوم بتقديم الطلب؟
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        الأمر سهل! اختر الكتاب الذي ترغب بتخصيصه، ثم حمّل صورة طفلك (تأكد من أنها مطابقة لتوصياتنا)،
                        وأدخل اسمه وعمره. ستحصل بعد ذلك على معاينة للكتاب. إذا أعجبك، فما عليك سوى الضغط على شراء
                        لإكمال طلبك.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseOne">
                        هل يمكنني الحصول على استرداد المبلغ لطلبي؟
                    </button>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse " aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        نعم، يمكنك استرداد كامل المبلغ المدفوع إذا لم يُطبع كتابك بعد، أو استرداد جزئي إذا طُبع ولم
                        يُشحن بعد. بعد طباعة الكتاب وشحنه، لن نتمكن من استرداد المبلغ. لطلب استرداد المبلغ، تواصل معنا
                        الواتساب 00966537482478 أو عبر البريد الإلكتروني support<span>&#64;magic-eg.com</span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapseTwo">
                        كيف يمكنني الوصول إلى دعم العملاء؟
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        تواصل معنا الواتساب 00966537482478 أو عبر البريد الإلكتروني
                        support<span>&#64;magic-eg.com</span>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                        ما هي اللغات المتوفرة في كتبك؟
                    </button>
                </h2>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        كتبنا متوفرة حاليًا باللغات العربية و الإنجليزية، والإسبانية، والإيطالية، والألمانية،
                        والبرتغالية (البرازيل)، والهولندية، والفرنسية. ونعمل جاهدين على إضافة لغات أخرى قريبًا.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                        كم تكلفة الشحن؟
                    </button>
                </h2>
                <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        تختلف تكاليف الشحن باختلاف موقعك عند إتمام عملية الشراء. ستتمكن من الاطلاع على رسوم الشحن بدقة
                        قبل إتمام طلبك.
                    </div>
                </div>
            </div>

        </div>


    </div>




</section>











<!-- عرض السبينر لما يكون التحميل شغال -->
<div *ngIf="_APIService.loading$ | async" class="spinner-overlay">
    <div class="spinner"></div>
    <p class="loading-text">جاري التحميل...</p>
</div>