
<section id="our-courses" class="firstSection ">


    <div class="container ourNavP">


        <div class="row align-items-stretch">

            <div class="col-12 pb-5">
                <div class="container m-auto text-center team-div ">
                    <h2>الكافيه </h2>
                    <p>اطلب الان من الكافيه</p>

                </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/coffe-2.jpeg" alt="training offers">
                        <p><span class="colored-price">17</span> ريال</p>
                    </div>
                    <h5>ايس كوفي</h5>
                    <p class="p-card">القهوة الباردة مع الحليب ومكعبات الثلج</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-12 p-0">

                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                       
                    </div>
                </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/coffe-1.jfif" alt="training offers">
                        <p><span class="colored-price">12</span> ريال</p>
                    </div>
                    <h5>شاي</h5>
                    <p class="p-card">اوراق الشاي الانجليزي الفاخر مع النعناع والحبأ</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-12 p-0">

                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                       
                    </div>
                </div>
            </div>




            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/coffe-3.jpg" alt="training offers">
                        <p><span class="colored-price">15</span> ريال</p>
                    </div>
                    <h5>لاتيه</h5>
                    <p class="p-card">قهوة ساخنه مع الحليب </p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-12 p-0">

                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                       
                    </div>
                </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/coffe-4.webp" alt="training offers">
                        <p><span class="colored-price">12</span> ريال</p>
                    </div>
                    <h5>فلات وايت</h5>
                    <p class="p-card">قهوة ساخنه مع الحليب </p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-12 p-0">

                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                       
                    </div>
                </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/coffe-2.jpeg" alt="training offers">
                        <p><span class="colored-price">17</span> ريال</p>
                    </div>
                    <h5>ايس كوفي</h5>
                    <p class="p-card">القهوة الباردة مع الحليب ومكعبات الثلج</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-12 p-0">

                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                       
                    </div>
                </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/coffe-1.jfif" alt="training offers">
                        <p><span class="colored-price">12</span> ريال</p>
                    </div>
                    <h5>شاي</h5>
                    <p class="p-card">اوراق الشاي الانجليزي الفاخر مع النعناع والحبأ</p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-12 p-0">

                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                       
                    </div>
                </div>
            </div>




            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/coffe-3.jpg" alt="training offers">
                        <p><span class="colored-price">15</span> ريال</p>
                    </div>
                    <h5>لاتيه</h5>
                    <p class="p-card">قهوة ساخنه مع الحليب </p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-12 p-0">

                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                       
                    </div>
                </div>
            </div>



            <div class="col-xl-4 col-lg-4 col-md-6 offers-card  col-m">

                <div class="border p-2 h-100 d-flex flex-column">
                    <div class="offers-price ">
                        <img src="../../assets/coffe-4.webp" alt="training offers">
                        <p><span class="colored-price">12</span> ريال</p>
                    </div>
                    <h5>فلات وايت</h5>
                    <p class="p-card">قهوة ساخنه مع الحليب </p>

                    <div class="lesson-time row mt-auto">
                        <div class="col-12 p-0">

                            <button class="w-100 btn store-btn"> <i class="fa-solid fa-circle-plus"></i>إضافة </button>
                        </div>
                       
                    </div>
                </div>
            </div>





       






        </div>

    </div>


</section>




<div id="fixedBox" #fixedBox>
    <div class="position-relative" id="smallBox" #smallBox>



        <i class="fa-solid fa-xmark" id="closeBtn" (click)="closeAlert()"></i>


        <div class="overflow-all">


            <div class="row " style="height: 100%;">

                <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-center" >
    
                    <div class="bgContent">
                     
                        <div class="w-100 text-center py-2">
                            <h2>المنتج والسعر</h2>
                        </div>


                        <div class="row pt-2 bg-cartInfo">
                            
                            <div class="col-6 ">
                                <div class="cartCoffe">
                                    <h6>شاي (5 ريال) </h6>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="cartNum">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <h6>2</h6>
                                    <i class="fa-solid fa-circle-minus"></i>
                                </div>
                            </div>


                        </div>
                        
        





                        <div class="row pt-2 bg-cartInfo">
                            
                            <div class="col-6 ">
                                <div class="cartCoffe">
                                    <h6>لاتيه (12 ريال) </h6>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="cartNum">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <h6>1</h6>
                                    <i class="fa-solid fa-circle-minus"></i>
                                </div>
                            </div>


                        </div>
                        
        






                        <div class="row pt-2 bg-cartInfo">
                            
                            <div class="col-6 ">
                                <div class="cartCoffe">
                                    <h6>قهوة تركي (8 ريال) </h6>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="cartNum">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <h6>1</h6>
                                    <i class="fa-solid fa-circle-minus"></i>
                                </div>
                            </div>


                        </div>
                        
        






                        <div class="row pt-2 bg-cartInfo">
                            
                            <div class="col-8 ">
                                <div class="cartCoffe">
                                    <h6>ايس لاتيه (15 ريال) </h6>
                                </div>
                            </div>
                            
                          

                            <div class="col-4">
                                <div class="cartNum">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <h6>1</h6>
                                    <i class="fa-solid fa-circle-minus"></i>
                                </div>
                            </div>


                        </div>
                        
        













                    </div>
                    
                </div>
    
    
    
    
                <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-center" >
    
                    <div class="bgContent">
                        <div class="buyContent">
                            <h1>
                                الاجمالي
                            </h1>
                            <p>
                                125 ريال
                            </p>
                           
    
                        </div>
    
    
    
                        <div class="selectDiv ">
                            <button type="button" class="btn btn-info" routerLink="/bookInfo">دفع </button>
    
                        </div>
        
                    </div>
                    
                </div>
    
            </div>

        </div>











    </div>
</div>




<div class="mainCartDiv" (click)="openAlert()">



    <div class="car-icon d-flex justify-content-center align-items-center">
        <div class="carShooping">
            <i class="fa-solid fa-cart-shopping"></i>
            <div class="car-num">
                4
            </div>
        </div>
    </div>
</div>